body{
    margin:0;
    font-size: small;
}
th{
    text-align:left;
}
select{
    width:165px;
}
td.bgcolor{
    background-color:gray;
}
b{
    color:gray;
}
a{
    text-decoration: none;
    color:black;
}
#all{
    width:100%;
    height: 685px;
}
#head{
    width: 100%;
    height:10%;

}
#middle{
    width:100%;
    height:5%;
}
#small{
    width: 100%;
    height:85%;
}
