* {
    font-size: 13px;
}

table {
    height: 500px;
    width: 1365px;
}

td {
    height: 50px;
    overflow: hidden;
}

#head {
    height: 5%;
}

#body {
    height: 550px;
    width: 1365px;
}

#foot {
    height: 5%;
}